
<br>
<br>
<br>
<br>
<br>
<div class="container">  
       <div class="col" id="cont" style="margin-left: 80%"> <div class="jumbotron">
                <h1 class="display-4">Contatos:</h1>
                <p class="lead">Obrigado por ter avaliado meu portifólio !</p>
                <hr class="my-4">
                <p>Email: l.fpagee@gmail.com</p>
                <br>
                <p>Telefone: (011)97719-2337</p>
                <br>
                <p> Fico no aguardo !</p>
                <a class="btn btn-primary btn-lg" href="../painel/painel.component.html" role="button">Inicio</a>
              </div>

        </div>
</div>