<div class="container">
    


<div class="container">
        <div class="row">
          <div class="col">
              
                  <div class="card">
                    <img src="../assets/etec.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Instituição Etec Emerlinda Gianni Teixeira</h5>
                      
                      
                            <p class="card-text">Neste Curso eu aprendi a base da programação : 
                              </p>
                              <br>
                              <p> - Logica de Programação    
                              </p>
                              <br>
                              <p> - Analise de sistemas</p>
                              <br>
                              <p> - Java</p>
                              <br>
                              <p> - C#</p>
                              <br>
                              <p> - Python</p>
                              <br>
                              <p> - Html</p>
                              <br>
                              <p> - CSS</p>
                              <br>
                              <p> - Bootstrap</p>
                              <br>
                              <p> - MySql</p>
                              <br>
         
                    </div>
                  </div>
    
          </div>
          <div class="col order-12">

              <div class="card">
                  <img src="../assets/impacta.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Instituição impacta</h5>
                    
                    
                          <p class="card-text">Neste Curso eu aprendi a manibular alguns frameworks : 
                            </p>
                            <br>
                            <p> - Bootstrap  
                            </p>
                            <br>
                            <p> - CSS5</p>
                            <br>
                            <p> - Html5</p>
                            <br>
                            <p> - Visual Studio</p>
                            <br>
                            <p> - PhoneGap</p>
                            <br>
                            <p> - Mobile</p>
                            <br>
                            <p> - JavaScript</p>
                            <br>
                            <p> </p>
                            <br>
                            <p> </p>
                            <br>
                            <p> </p>
                            <br>
                            <p> </p>
                            <br>
        
                            

                  </div>
                </div>
              
          </div>
          <div class="col order-1">
              <div class="card">
                  <img src="../assets/udemy.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Angular Cli</h5>
                    
                    
                          <p class="card-text">Neste Curso eu aprendi a base da programação : 
                            </p>
                            <br>
                            <p> - TypeScript  
                            </p>
                            <br>
                            <p> - Npm </p>
                            <br>
                            <p> - Node</p>
                            <br>
                            <p> - Angular Cli</p>
                            <br>
                            <p> - Bootstrap</p>
                            <br>
                            <p> </p>
                            <br>
                            <p> </p>
                            <br>
                            <p> </p>
                            <br>
                            
                  </div>
                </div>
          </div>
        </div>
      
        <br>
                             
            <div class="card" style="width: 18rem;">
                <img src="../assets/anhambi.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Universidade Anhambi Morumbi </h5>
                  <p class="card-text">Graduação :
                    </p>
                    <br>
                    <p> - Analise e desenvolvimento de sistemas   
                    </p>
                    <br>
                    <p>  </p>
                    <br>
                    <p> </p>
                    <br>
                    <p> </p>
                    <br>
                    <p> </p>
                    <br>
                    <p> </p>
                    <br>
                    <br>
                    
                  
    
                  <a href="../topo/topo.component.html" class="btn btn-primary">Voltar</a>
                </div>
              </div>


             
              
              
              <app-contato></app-contato>
              
          </div>
          
        </div>