<div class="container">
       <div class="row">
              <div class="container">
                     <div class="row">
                            <div class="col-sm" style="width: 80% !important">

                                   <div class="jumbotron">
                                          <span class="border " ></span>

                                          <a href="" class="posts-item">

                                                 <figure>
                                                        <div class="round-container"><img src="../assets/eu.jpg" alt="">
                                                        </div>

                                                 </figure>
                                          </a>
                                          <br>
                                          <h1 class="display-4"> Programador Jr </h1> 
                                          <br>
                                          <p class="lead" >" Depois que conheci a programação, não quero deixa-la ir em
                                                 bora ! "</p>
                                          <hr class="my-4">
                                          <div class="card">
                                                 <div class="card-body">
                                                        <h4 style="margin-left: 10%;"> Visite meu perfil no linkedin !
                                                        </h4>
                                                 </div>

                                          </div>
                                          <br>
                                          <a class="btn btn-primary btn-lg"
                                                 href="https://www.linkedin.com/in/luís-filipe-front-end-jr-8b657b191"
                                                 role="button" style="margin-left: 35%">Linkedin</a>
                                   </div>



                            </div>

                            <div class="col-sm">

                                          <div class="jumbotron">
                                                        
              
                                                        
                                                        <!--<h1 class="display-4"> Programador Jr </h1> 
                                                        <br>
                                                        <p class="lead" >" Depois que conheci a programação, não quero deixa-la ir em
                                                               bora ! "</p>
                                                        <hr class="my-4">-->
                                                        <div class="card">
                                                               <div class="card-body">
                                                                      <h4 style="margin-left: 10%;"> Luís Filipe de Oliveira Borges </h4>
                                                                             <br>
                                                                             <br>
                                                                             
                                                                             <p> Olá, tudo bem ?  </p>  
                                                                             <br>
                                                                             <p> Tenho em minha mente o dia em que me propus a aprender programação,eu 
                                                                                 estava dando aula para crianças do ensino fundamental e percebi que 
                                                                                 estava monotono de mais, a ponto deu querer mais desafios e não estava
                                                                                 satisfeito. 
                                                                                 Então vendo alguns vídeo no youtube, decidi ir atrás de conhcimentos na area de tecnologia.  
                                                                              </p>
                                                                             
                                                                             <br>
                                                                              <p>   
                                                                              Adquiri com o tempo experiências acadêmicas em varios cursos, lembro que meu primeiro curso
                                                                             foi na <i>Instituição Impacta na Av.Paulista</i>, despois destes alguns cursos online, presencial na
                                                                             instituição ETEC Emerlinda Giannine teieira, e em fim cursando a graduação em Analise de Sistemas.
                                                                             
                                                                             </p>
                                                                             <br>
                                                                              <p>  
                                                                               Hoje sei que tenho conhcimento academico necessário para adentrar no mercado de trabalho, e estou a 
                                                                              procura de uma boa oportunidade.
                                                                              </p>
                                                                             
                                                               </div>
              
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        
                                                        
                                                 </div>
              
                                  
                                         
                     </div>
              </div>



              <!--  <h2 class="Topo">   Esse é o topo na aplicação  </h2> -->

              <app-painel></app-painel>
             







</div>



</div>